@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al Sistema de Gestión de Taller Mecánico</h1>
    <p>Integrantes:</p>
    <p>Josue Valencia, Eric Mullo, Darwin López, Dilan Herrera</p>
</div>

<!-- Sección Principal (Hero) -->
<section class="hero">
    <h1>Servicio de Calidad Mecánico</h1>
    <p>Confía en nosotros para el mantenimiento y reparación en mecánica.</p>
    <a href="#cita" class="btn-hero">Encuentranos ahora</a>
</section>

<!-- Sección de Información -->
<section class="info">
    <div class="info-item">
        <h3>Detalles de Contacto</h3>
        <p>Tel: 0998515763</p>
        <p>Email: infomecanica@gmail.com</p>
    </div>
    <div class="info-item">
        <h3>Descuento del 30%</h3>
        <p>En tu primera visita, obtén un descuento especial.</p>
        <a href="#cita" class="btn-descuento">Obtener Descuento</a>
    </div>
    <div class="info-item">
        <h3>Tipos de Trabajos</h3>
        <p>Atendemos todo tipo de trabajo industrial.</p>
    </div>
</section>
