@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al Sistema de Gestión de Taller Mecánico</h1>
    <p>Integrantes: </p>
    <p>Josue Valencia, Eric Mullo, Darwin López, Dilan Herrera </p>
</div>
